<nav class="bottom-nav">
    <a class="bottom-nav-item" ng-class="{active: active === 'home'}" ng-click="go('/dashboard')">
        <i class="fas fa-house"></i><span>Início</span>
    </a>
    <a class="bottom-nav-item" ng-class="{active: active === 'trail'}" ng-click="go('/trail')">
        <i class="fas fa-route"></i><span>Trilha</span>
    </a>
    <a class="bottom-nav-item" ng-class="{active: active === 'gallery'}" ng-click="go('/gallery')">
        <i class="fas fa-images"></i><span>Galeria</span>
    </a>
    <a class="bottom-nav-item" ng-class="{active: active === 'profile'}" ng-click="go('/profile')">
        <i class="fas fa-circle-user"></i><span>Perfil</span>
    </a>
</nav>
