<nav class="bottom-nav">
    <a class="bottom-nav-item" ng-class="{active: active === 'trail'}" ng-click="go('/trail')">
        <div class="bottom-nav-pill">
            <i class="fas fa-route"></i>
        </div>
        <span>Trilha</span>
    </a>
    <a class="bottom-nav-item" ng-class="{active: active === 'gallery'}" ng-click="go('/gallery')">
        <div class="bottom-nav-pill">
            <i class="fas fa-images"></i>
        </div>
        <span>Galeria</span>
    </a>
    <a class="bottom-nav-item" ng-class="{active: active === 'profile'}" ng-click="go('/profile')">
        <div class="bottom-nav-pill">
            <i class="fas fa-circle-user"></i>
        </div>
        <span>Perfil</span>
    </a>
</nav>
